<div class="jumbotron" style="">
	
	<h1 class='text-center'>Welcome to the STIX<sup><sup><sup>TM</sup></sup></sup> Editor</h1>
	
	<p>The Structured Threat Information eXpression (STIX) Editor is designed 
	to simplify the creation of STIX documents that can be submitted to the 
	National Cybersecurity and Communications Integration Center (NCCIC) for 
	use in the Automated Indicator Sharing (AIS) capability.</p> 

	<p>This STIX Editor is intended for use on Firefox browsers. 
	Results and experiences may vary with other browsers. </p>

	<p>All questions or concerns regarding this STIX Editor, please send them to: 
	<a tabindex="10" href='mailto:ncciccustomerservice@hq.dhs.gov?Subject=STIX Editor'>
	  <strong>ncciccustomerservice@hq.dhs.gov</strong>
	</a></p>
</div>

USE OF THIS SOFTWARE CONSTITUTES AGREEMENT TO WAIVE ANY AND ALL CLAIMS AGAINST 
THE U.S. GOVERNMENT AND THE UNITED STATES GOVERNMENT'S CONTRACTORS AND 
SUBCONTRACTORS AND TO INDEMNIFY AND HOLD HARMLESS THE U.S. GOVERNMENT AND THE 
UNITED STATES GOVERNMENT'S CONTRACTORS AND SUBCONTRACTORS FOR ANY LIABILITIES, 
DEMANDS, DAMAGES, EXPENSES, OR LOSSES THAT MAY ARISE FROM USE OF THIS SOFTWARE 
OR ANY PROVIDED DOCUMENTATION, INCLUDING ANY LIABILITIES OR DAMAGES FROM 
PRODUCTS BASED ON, OR RESULTING FROM, THE USE THEREOF.  ADDITIONAL TERMS AND 
CONDITIONS OF SOFTWARE USE ARE DESCRIBED IN A README FILE ACCOMPANYING THE SOFTWARE.
