<div class="shadow-sm p-2 mb-3 bg-light rounded" style="clear:both">
	<div class="panel panel-default" style="clear:both;margin-top:10px;">
		
		<span id="{{value.name}}_accordionStix_tooltip" style="display: none;">
			{{value.tooltip}}<br/>
			When there are One or more {{value.name}} press Spacebar or Enter to toggle the display open and closed.
		</span>
		<div tabindex="10" 
			class="panel-heading" 
			ng-controller="CollapseDemoCtrl" 
			style="cursor:pointer;" 
			ng-focus="tooltip.focusTooltip(value.name, '_accordionStix', value.tooltip)" 
			ng-blur="tooltip.blurTooltip(value.name, '_accordionStix')" 
			ng-click="toggle()">
			<a class="accordion-toggle" 
			data-parent="#accordion2" 
			data-toggle="tooltip" 
			title="{{value.tooltip}}" 
			aria-label="{{value.parent}} {{value.name}} click to toggle {{value.name}} listing: {{value.tooltip}} currently selected {{value.children.length}} out of {{totalArray.length}}" 
			data-placement="left">
				<span>{{value.name}}</span>
				<span class="badge" style="background-color: #205493">{{value.children.length}} / {{totalArray.length}}</span>
			</a>
			<span ng-show="{{totalArray.indexOf(value)}} >= 0" class="badge badge-important">this {{value.name}} is not listed below</span>
		</div>
		<div class="panel-collapse collapse">
			<div ng-repeat="child in totalArray">
				<div ng-show="observable != child">
					<span ng-if="self != child.id.value">
						<input tabindex="10" 
							type="checkbox" 
							checklist-value="child.object" 
							ng-click="value.updateRef(child)" 
							ng-checked="value.list.indexOf(child) >= 0"
							aria-label="Edit {{value.name}} item with identifier of {{display({displayItem:child})}}"
							checklist-model="value.list">
					</span>
					<span ng-if="self == child.id.value"><input tabindex="10" type="checkbox" disabled checklist-model="value.list" checklist-value="child.object" ng-click="value.updateRef(child)"  ng-checked="value.list.indexOf(child) >= 0"></span>
					<span style="font-size:12px;">{{display({displayItem:child})}}</span>
				</div>
			</div>
		</div>
	</div>
</div>