<style>
  .full button span {
    background-color: limegreen;
    border-radius: 32px;
    color: black;
  }
  .partially button span {
    background-color: orange;
    border-radius: 32px;
    color: black;
  }
</style>
<div ng-controller="DatepickerCtrl">
	<div class="row">
		<div class="col-md-4">
			<p class="input-group">
				<input type="text" ng-model="value.text" alt-input-formats="altInputFormats" class="form-control input-sm" uib-datepicker-popup="{{format}}" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close"/>
				<span class="input-group-btn">
					<button type="button" class="btn btn-default btn-sm" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
				</span>
			</p>
		</div>
	</div>
</div>